.register-body{
    background-image: url("../bgimages/scattered-forcefields.png");
    height: 100vh;
    width: 100%;
}

.modal.active{
    display: block;
}

.reg-home-icon-div{
    position: absolute;
    top: 2rem;
    left: 2rem;
    
    padding: 0.5rem 1.5rem;
    display: flex;
    gap: 0.4rem;
    background-color: blanchedalmond;
    border-radius: 1000px;
    font-weight: 550;
    font-size: 19px;
    cursor: pointer;
}

